@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400&display=swap');

* {
  transition: .3s;
}

a{
  text-decoration: none;
}

:root{
  --light-text: #F9F8F8;  
  --dark-background: #2F4550;
  --hover: #273e49;
  --body-background: #34444e;
  --input-background: #27333a;
  --text-btn: #334756;
  --background-btn: #F0A500;
  --background-hover-btn: #e69d00;
  --scollbar: #2F4550;
}

.theme-dark {
  --light-text: #F9F8F8;  
  --dark-background: #2F4550;
  --hover: #273e49;
  --body-background: #34444e;
  --input-background: #27333a;
  --text-btn: #334756;
  --background-btn: #F0A500;
  --background-hover-btn: #e69d00;
  --scollbar: #2F4550;
}

.theme-light {
  --light-text: #2F4550;
  --dark-background: #F9F8F8;
  --hover: #fce8e8;
  --body-background: #eeeeee;
  --input-background: #fff;
  --text-btn: #ffb922;
  --background-btn: #405661;
  --background-hover-btn: #2F4550;
  --scollbar: #2F4550;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  var(--light-text);
  opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  var(--light-text);
  opacity: 0.6;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:  var(--light-text);
  opacity: 0.6;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mali', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  border: none;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 105, 105); 
}
